*{
    background-color :#a9d8f3;
    background-attachment: fixed;
}



.container {
	width: 100%;
	height: 32.6vw;
	background: url('../img/back-01.png' ) repeat-x;
	background-size: 60%;
}


.L5 {
	font-size: 50px;
	font-family: "Comic Sans MS";
}
