*{
    background-color :hsl(43, 61%, 83%);
    background-attachment: fixed;
}



.container {
	width: 100%;
	height: 32.6vw;
	background: url('../img/back-01.png' ) repeat-x;
	background-size: 60%;
}


.L4 {
	font-size: 50px;
	font-family: "Comic Sans MS";
}


.B1 {
	font-family: "Comic Sans MS";
}


.B2 {
	font-family: "Comic Sans MS";
}


.B3 {
	font-family: "Comic Sans MS";
}


.B4 {
	font-family: "Comic Sans MS";
}


