@charset "utf-8";

*{
    background-color : #d8f5d8;
    background-attachment: fixed;
}


.wf-nicomoji { font-family: "Nico Moji"; }


/*========= レイアウトのためのCSS ===============*/

#wrapper p{
  padding:300px 0;
  text-align:center;
}

/*========= waveを描画するエリア設定 ===============*/


.wave{
  position: relative;
}

.wave canvas{
    position: absolute;
    bottom: 0;
  left:0;
    width: 100%
    list - sytle : none;
}



.h1{
    color : #213a70;
}



.
