*{
    background-color : #f3d7cb;
    background-attachment: fixed;
}


.container {
	width: 100%;
	height: 32.6vw;
	background: url('../img/back-01.png' ) repeat-x;
	background-size: 60%;
}


.L2 {
	font-size: 50px;
	font-family: "Comic Sans MS";
}


.D1 {
	font-family: "Comic Sans MS";
}


.D2 {
	font-family: "Comic Sans MS";
}


.D3 {
	font-family: "Comic Sans MS";
}


.D4 {
	font-family: "Comic Sans MS";
}
