*{
    background-color : #d1e8eb;
    background-attachment: fixed;
}/* /aboutだけで使うcss */


.container {
	width: 100%;
	height: 32.6vw;
	background: url('../img/back-01.png' ) repeat-x;
	background-size: 60%;
}


.L1 {
	font-size: 50px;
	font-family: "Comic Sans MS";
}


.E1 {
	font-family: "Comic Sans MS";
}


.E2 {
	font-family: "Comic Sans MS";
}


.E3 {
	font-family: "Comic Sans MS";
}

.E4 {
	font-family: "Comic Sans MS";
}
